body{
    background:rgb(105, 147, 211);
    color:white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

/* HEADER */

header{
    background:black;
    background-image: url("images/banner.jpg");
    background-size: 100%;
    background-position: center;
    height: 100px;
    padding: 20px;
    text-align: center;
}

header a{
    color:white;
    text-decoration: none;
    font-weight:700;
    margin-top:5px;
    margin-left:80px;
    font-size:25px;
}

header .mobile{
    display: none;
}

header .tag a{
    font-size:60px;
}

nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

nav li{
    display:inline-block;
    margin-top:25px;
    margin-right:20px;
    text-shadow:gray 3px 3px 3px;
}

/* FEATURES */

.vid iframe{
    display:block;
    margin:auto;
    margin-top:35px;
    width:1100px;
    height:700px;
}

.about{
    display:flex;
}

.about img{
    width:650px;
    height:auto;
    margin-top:35px;
    margin-left:300px;
    float:left;
}

.about .text{
    float:left;
    margin-top:300px;
    margin-left:20px;
    margin-right:300px;
}

.about .text h1 {
    font-size:30px;
    margin-top:60px;
}

.about .text p {
    font-size:20px;
    font-weight:300;
    text-indent: 30px;
}

.special{
    display:flex;
}

.special .text{
    float:left;
    margin-top:550px;
    margin-left:350px;
}

.special .text h1{
    font-size:30px;
}

.special .text p{
    font-size:20px;
    font-weight:300;
    text-indent:30px;

}

.special img{
    width:800px;
    height:auto;
    margin-top:35px;
    margin-right:300px;
    float:right;
}

.merch{
    color:white;
    padding:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    font-size:20px;
    font-weight:bold;
}

.merch figure{
    margin:auto;
    text-align:center;
    text-transform:uppercase;
}

.merch figure img{
    width:500px;
}

.contact-title{
    text-align:center;
    margin-top:60px;
    text-transform:uppercase;
    transition:all 1s ease-in-out;
}

.contact-title h1{
    font-size:32px;
    line-height:10px;
}

.contact-title h2{
    font-size:16px;
}

form{
    margin-top:50px;
    transition:all 1s ease-in-out;
    text-align:center;
}

.form-control{
    width:600px;
    background:transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid white;
    color:#fff;
    font-size:18px;
    margin-bottom:16px;
}

input{
    height:45px;
}

form .submit{
    background:rgb(72, 108, 209);
    border-color:transparent;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
    height:50px;
    margin-top:20px;
}

form .submit:hover{
    background:rgb(110, 185, 204);
    cursor:pointer;
}

/* RESPONSIVE RULES*/

@media screen and (max-width: 1400px){
    .about img{
        max-width:500px;
        max-height:800px;
        margin-left:200;
    }
    .about .text{
        float:left;
        margin-top:100px;
        margin-left:20px;
        margin-right:200px;
    }
    .special img{
        width:500px;
        height:auto;
        margin-top:35px;
        margin-right:300px;
        float:right;
    }
    .special .text{
        float:left;
        margin-top:250px;
        margin-left:250px;
        margin-right:20px;
    }
}

@media screen and (max-width: 1175px){
    header {
        height:250px;
        background-size: 180%;
        background-position:center;
        height:130px;
    }
    header .mobile{
        display:inline-block;
    }
    .vid iframe{
        max-width:100%;
        max-height:600px;
    }
    header .desktop{
        display:none;
    }
    .about img{
        max-width:400px;
        max-height:700px;
        margin-left:200px;
    }
    .about .text{
        float:left;
        margin-top:0px;
        margin-left:20px;
        margin-right:50px;
    }
    .special img{
        width:300px;
        height:auto;
        margin-top:35px;
        margin-right:300px;
        float:right;
    }
    .special .text{
        float:left;
        margin-top:200px;
        margin-left:250px;
        margin-right:20px;
    }
}

@media screen and (max-width: 830px){
    header {
        height:250px;
    }
    header .mobile{
        display:block;
    }
    header .desktop{
        display:none;
    }
    .vid iframe{
        max-width:100%;
        max-height:550px;
    }
    .about img{
        max-width:350px;
        max-height:650px;
        margin-left:100px;
    }
    .special img{
        width:300px;
        height:auto;
        margin-top:35px;
        margin-right:300px;
        float:right;
    }
    .special .text{
        float:left;
        margin-top:100px;
        margin-left:140px;
        margin-right:20px;
    }
    .special img{
        width:300px;
        height:auto;
        margin-top:35px;
        margin-right:300px;
        float:right;
    }
    .special .text{
        float:left;
        margin-top:100px;
        margin-left:100px;
        margin-right:20px;
    }
}

@media screen and (max-width: 700px){
    header{
        height:200px;
        background-position: 0 0px;
    }
    .vid iframe{
        max-width:100%;
        max-height:500px;
    }
    .about img{
        max-width:250px;
        max-height:500px;
        margin-left:50px;
        float:none;
    }
}

@media screen and (max-width: 500px){
    header{
        height:200px;
        background-position: 0 0px;
    }
    .vid iframe{
        max-width:100%;
        max-height:250px;
    }
    .about img{
        max-width:200px;
        max-height:400px;
        margin-left:50px;
    }
}

/* FOOTER */

footer {
    background:rgb(17, 39, 109);
    color:white;
    font-size: 15px;
    padding:10px 20px;
    text-align:center;
}
